services:
  readsb:
    image: ghcr.io/sdr-enthusiasts/docker-readsb-protobuf:latest
    container_name: readsb
    hostname: readsb
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=UTC
      - READSB_DEVICE_TYPE=none
      - READSB_LAT=${RECEIVER_LAT:-0}
      - READSB_LON=${RECEIVER_LON:-0}
      - READSB_ALT=${RECEIVER_ALT:-0}
      - READSB_RX_LOCATION_ACCURACY=2
      - READSB_STATS_RANGE=true
      - READSB_NET_ENABLE=true
      - READSB_NET_WEBPORT=8081
    volumes:
      - readsb-autogain:/run/autogain
      - readsb-collectd:/run/collectd
    tmpfs:
      - /var/log:size=32M

  tar1090:
    image: ghcr.io/sdr-enthusiasts/docker-tar1090:latest
    container_name: tar1090
    hostname: tar1090
    restart: unless-stopped
    network_mode: host
    depends_on:
      - readsb
    environment:
      - TZ=UTC
      - BEASTHOST=127.0.0.1
      - BEASTPORT=30005
      - LAT=${RECEIVER_LAT:-0}
      - LONG=${RECEIVER_LON:-0}
      - TAR1090_DEFAULTCENTERLAT=${RECEIVER_LAT:-0}
      - TAR1090_DEFAULTCENTERLON=${RECEIVER_LON:-0}
      - NGINX_PORT=8504

volumes:
  readsb-autogain:
  readsb-collectd:
