services:
  tar1090:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tar1090
    hostname: tar1090
    restart: unless-stopped
    # network_mode: host  # Use on Linux; doesn't work on macOS Docker
    ports:
      - "8080:80"  # tar1090 web UI (use 8080 on macOS, 80 on Linux)
    environment:
      - TZ=UTC
      # readsb config (built into docker-tar1090)
      - READSB_DEVICE_TYPE=none
      - READSB_NET_ENABLE=true
      - READSB_NET_CONNECTOR=${READSB_NET_CONNECTOR:-}
      - READSB_LAT=${RECEIVER_LAT:-0}
      - READSB_LON=${RECEIVER_LON:-0}
      - READSB_ALT=${RECEIVER_ALT:-0}
      - READSB_RX_LOCATION_ACCURACY=2
      - READSB_STATS_RANGE=true
      # tar1090 map config
      - LAT=${RECEIVER_LAT:-0}
      - LONG=${RECEIVER_LON:-0}
      - TAR1090_DEFAULTCENTERLAT=${RECEIVER_LAT:-0}
      - TAR1090_DEFAULTCENTERLON=${RECEIVER_LON:-0}
      # adsb.lol proxy config
      - ADSBLOL_ENABLED=${ADSBLOL_ENABLED:-false}
      - RECEIVER_LAT=${RECEIVER_LAT:-0}
      - RECEIVER_LON=${RECEIVER_LON:-0}
      - ADSBLOL_RADIUS=${ADSBLOL_RADIUS:-40}
      - PROXY_PORT=3005
    tmpfs:
      - /var/log:size=32M
